<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/getbootstrap.css" />
    <title>Figma sushi design</title>
  </head>

  <body style="font-size: 20px">
    <div class="section-1">
      <div class="container-fluid">
        <nav
          class="navbar navbar-expand-lg p-3"
          style="background-color: rgb(241, 235, 253)"
        >
          <a
            href=""
            class="text-decoration-none fw-bold fs-3 text-black"
            style="font-family: 'Brush Script MT', cursive"
          >
            Sushi Club
          </a>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item text-center">
                <a
                  class="nav-link my-2 mx-5 text-uppercase active"
                  aria-current="page"
                  href="#carouselExampleSlidesOnly"
                  >Home</a
                >
              </li>
              <li class="nav-item text-center">
                <a
                  class="nav-link my-2 mx-5 text-uppercase mx-2"
                  aria-current="page"
                  href="#6th"
                  >About
                </a>
              </li>
              <li class="nav-item text-center">
                <a
                  class="nav-link my-2 mx-5 text-uppercase mx-2"
                  aria-current="page"
                  href="#6th"
                  >Access
                </a>
              </li>
            </ul>
            <div>
              <a href="">
                <div class="btn btn-success my-2 mx-5">Contact</div>
              </a>
            </div>
          </div>
        </nav>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col w-100">
            <img
              class="w-100"
              height="500px"
              src="./src/images/pumpkin.webp"
              alt=""
            />
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col text-center py-3">
            <h2>Sushis d' Exception</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div
              class="card p-3 border-0 shadow"
              style="background-color: rgb(241, 235, 253)"
            >
              <div class="img1">
                <img
                  src="./src/images/gallery2.png"
                  class="h-100 w-100"
                  alt=""
                />
              </div>
              <h3 class="py-2 px-3">Vegetarien</h3>
              <p class="px-3">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde
                qui expedita beatae, veniam rem rerum quidem Lorem, ipsum
              </p>
              <a href="">
                <div class="btn btn-success btn-lg px-3">Discover</div>
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div
              class="card p-3 border-0 shadow"
              style="background-color: rgb(241, 235, 253)"
            >
              <div class="img1">
                <img
                  src="./src/images/gallery2.png"
                  class="h-100 w-100"
                  alt=""
                />
              </div>
              <h3 class="py-2 px-3">Vegetarien</h3>
              <p class="px-3">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde
                qui expedita beatae, veniam rem rerum quidem Lorem, ipsum
              </p>
              <a href="">
                <div class="btn btn-success btn-lg px-3">Discover</div>
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div
              class="card p-3 border-0 shadow"
              style="background-color: rgb(241, 235, 253)"
            >
              <div class="img1">
                <img
                  src="./src/images/gallery2.png"
                  class="h-100 w-100"
                  alt=""
                />
              </div>
              <h3 class="py-2 px-3">Vegetarien</h3>
              <p class="px-3">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde
                qui expedita beatae, veniam rem rerum quidem Lorem, ipsum
              </p>
              <a href="">
                <div class="btn btn-success btn-lg px-3">Discover</div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col text-center py-3">
            <h2>Le Milleur Des Sushis</h2>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-sm-6 col-md-2">
            <a href="">
              <img
                src="./src/images/6.png"
                class="rounded-circle border border-3"
                height="100px"
                width="100px"
                alt=""
              />
            </a>
            <p>Vegetables</p>
          </div>
          <div class="col-sm-4 col-md-2">
            <a href="">
              <img
                src="./src/images/dessert.png"
                class="rounded-circle border border-3"
                height="100px"
                width="100px"
                alt=""
              />
            </a>
            <p>Cookies</p>
          </div>
          <div class="col-sm-4 col-md-2">
            <a href="">
              <img
                src="./src/images/gallery2.png"
                class="rounded-circle border border-3"
                height="100px"
                width="100px"
                alt=""
              />
            </a>
            <p>Salad</p>
          </div>
          <div class="col-sm-4 col-md-2">
            <a href="">
              <img
                src="./src/images/gallery3.png"
                class="rounded-circle border border-3"
                height="100px"
                width="100px"
                alt=""
              />
            </a>
            <p>Bread</p>
          </div>
          <div class="col-sm-4 col-md-2">
            <a href="">
              <img
                src="./src/images/gallery4.png"
                class="rounded-circle border border-3"
                height="100px"
                width="100px"
                alt=""
              />
            </a>
            <p>Drinks</p>
          </div>
          <div class="col-sm-4 col-md-2">
            <a href="">
              <img
                src="./src/images/refreshment.png"
                class="rounded-circle border border-3"
                height="100px"
                width="100px"
                alt=""
              />
            </a>
            <p>Fruits</p>
          </div>
        </div>
        <div class="row" style="background-color: rgb(241, 235, 253)">
          <div class="col-md-6 p-5">
            <h3>Eveillez Vos Sens</h3>
            <p class="py-4">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
              eos, ab eveniet, animi fugit optio cumque dolor provident quam,
              ipsam perferendis debitis sunt repellat eius. Ab quasi libero
              aliquam molestias.
            </p>
            <div class="btn btn-success btn-lg">Discover</div>
          </div>
          <div class="col-md-6 align-content-around">
            <img src="./src/images/refreshment.png" class="w-100 h-75" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="section-2">
      <div class="row py-4">
        <div
          class="col-md-4 border border-bottom-0 border-end-0 border-start-0 border-top border-3 border-success mt-4"
        ></div>
        <div class="col-md-4 text-capitalize fw-bold fs-3 text-center">
          nos creation de sushi
        </div>
        <div
          class="col-md-4 border border-bottom-0 border-end-0 border-start-0 border-top border-3 border-success mt-4"
        ></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="img-wrapper">
              <img
                src="./src/images/refreshment.png"
                class="h-100 w-100"
                alt=""
              />
            </div>
            <h3 class="text-capitalize px-2">drinks and fruits</h3>
            <p class="text-capitalize p-2">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Recusandae, consequuntur?amet consectetur adipisicingipsum
              Recusandae, dolor sit elit.
            </p>
          </div>
          <div class="col-md-8">
            <div class="row pt-4 px-4">
              <div class="col-md-6 text-center">
                <img src="./src/images/gallery2.png" class="w-75" alt="" />
              </div>
              <div class="col-md-6 py-2">
                <h3>Specialities</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Cupiditate, quae.
                </p>
              </div>
            </div>
            <div class="row pt-4 px-4">
              <div class="col-md-6 text-center">
                <img src="./src/images/gallery2.png" class="w-75" alt="" />
              </div>
              <div class="col-md-6 py-2">
                <h3>Specialities</h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Cupiditate, quae.
                </p>
              </div>
              <div class="col px-5 py-3">
                <div class="btn btn-success btn-lg ms-2">Discover</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-3">
      <div
        class="border border-end-0 border-start-0 border-bottom-0 border-top mb-5 border-3 border-success"
      ></div>
      <div class="container p-5" style="background-color: rgb(241, 235, 253)">
        <div class="row text-capitalize">
          <div class="col-md-4">
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
          </div>
          <div class="col-md-4">
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
          </div>
          <div class="col-md-4">
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <div class="btn btn-success btn-lg">Subscribe</div>
            <div class="btn btn-outline-success btn-lg">Follow</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
