<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="getbootstrap.css" />
    <link rel="stylesheet" href="style.css" />
    <title>Portfolio</title>
  </head>

  <body>
    <div class="container">
      <!-- Navbar -->
      <nav
        class="navbar navbar-expand-lg text-white fs-6"
        style="background-color: rgb(6, 6, 77)"
      >
        <div class="container px-5 text-white">
          <a class="navbar-brand text-white" href="#"
            ><span class="fs-2 fw-bold">RIEAD</span></a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item me-5">
                <a
                  class="nav-link active text-white"
                  aria-current="page"
                  href="#"
                  >Home</a
                >
              </li>
              <li class="nav-item me-5">
                <a
                  class="nav-link active text-white"
                  aria-current="page"
                  href="#"
                  >About Me</a
                >
              </li>
              <li class="nav-item me-5">
                <a
                  class="nav-link active text-white"
                  aria-current="page"
                  href="#"
                  >Services</a
                >
              </li>
              <li class="nav-item me-4">
                <a
                  class="nav-link active text-white"
                  aria-current="page"
                  href="#"
                  >Skills</a
                >
              </li>
              <li class="nav-item me-5">
                <a
                  class="nav-link active text-white"
                  aria-current="page"
                  href="#"
                  >Portfolio</a
                >
              </li>
              <li class="nav-item me-5">
                <a
                  class="nav-link active text-white"
                  aria-current="page"
                  href="#"
                  >Contact</a
                >
              </li>
            </ul>
            <div class=" btn btn-primary rounded px-4 py-2">Hire Me</div>
          </div>
        </div>
      </nav>
      <!-- Home Section -->
      <div class="container p-5" style="background-color: rgb(11, 11, 91)">
        <div class="row mb-5">
          <div class="col-md-6 ps-5">
            <span class="fw-bold fs-5 text-danger">Hi, it's me</span>
            <h1 class="fw-bold mt-2 text-white">ANSAR ILYAS</h1>
            <div class="row mb-2">
              <div class="col-sm-4 fs-5 fw-bold text-white">And I am a</div>
              <div class="col-sm-8 text-danger fw-bold fs-5">
                FRONTEND DEIGNER
              </div>
            </div>
            <p class="text-white">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
              voluptate provident ut a, esse ratione!
            </p>
            <div class="row"></div>
            <div class=" btn btn-primary rounded px-4 py-2 ">Download CV</div>
          </div>
          <div class="col-md-6 text-center">
            <img src="./images/ansarphoto.png" alt="" />
          </div>
        </div>
      </div>
      <!-- About Section -->
      <div class="container p-5" style="background-color: rgb(6, 6, 77)">
        <h1 class="text-white text-center mb-3 text-decoration-underline fw-bold">
          ABOUT <span class="text-danger">ME</span>
        </h1>
        <div class="row">
          <div class="col-md-4 h-100">
            <img
              src="./images/ansarphoto.png"
              class="text-center"
              alt=""
            />
          </div>
          <div class="col-md-8 p-4">
            <h3 class="text-white mb-3 ">FRONTEND DESIGNER</h3>
            <p class="text-white py-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
              tenetur pariatur, perferendis facere numquam eaque deleniti id ut
              omnis eos hic iste totam nam in aliquam, nobis dicta beatae
              corporis.
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Inventore, veniam dolor accusantium illum maxime eius architecto
              natus nostrum iste possimus.
            </p>
            <div class=" btn btn-primary rounded px-4 py-2">Read More...</div>
          </div>
        </div>
      </div>
      <!-- Service Section -->
      <div class="container p-5 " style="background-color: rgb(11, 11, 91)">
        <h1 class="text-white fw-bold text-center m-3 text-decoration-underline ">
          MY <span class="text-danger">SERVICES</span>
        </h1>
        <div class="row my-4">
          <div class="col-12 col-md-4">
            <div class="card text-center p-3 mb-2">
              <img
                src="./images/html5-line.png"
                class="w-25 h-25 m-auto"
                loading="lazy"
                alt=""
              />
              <h6
                data-aos="fade-up"
                class="fw-bolder fs-5 my-3"
                style="color: blue"
              >
                HTML
              </h6>
              <p style="color: blue">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
                porro eveniet ipsam impedit aperiam repellat reiciendis velit
                reprehenderit eaque. Debitis?
              </p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="card text-center p-3 mb-2">
              <img
                src="./images/css3-line.png"
                class="w-25 h-25 m-auto"
                loading="lazy"
                alt=""
              />
              <h6
                data-aos="fade-up"
                class="fw-bolder fs-5 my-3"
                style="color: blue"
              >
                CSS
              </h6>
              <p style="color: blue">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
                porro eveniet ipsam impedit aperiam repellat reiciendis velit
                reprehenderit eaque. Debitis?
              </p>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="card text-center p-3 mb-2">
              <img
                src="./images/mac-line.png"
                class="w-25 h-25 m-auto"
                loading="lazy"
                alt=""
              />
              <h6
                data-aos="fade-up"
                class="fw-bolder fs-5 my-3"
                style="color: blue"
              >
                BASIC COMPUTING
              </h6>
              <p style="color: blue">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
                porro eveniet ipsam impedit aperiam repellat reiciendis velit
                reprehenderit eaque. Debitis?
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Skills Section -->
      <div class="container p-5" style="background-color: rgb(6, 6, 77)">
        <h1 class="fw-bold text-white text-center text-decoration-underline ">
          MY <span class="text-danger">SKILLS</span>
        </h1>
        <div class="row">
          <div class="col-md-6">
            <div class="d-flex text-white justify-content-between py-2">
              <div class="fw-bold">HTML</div>
              <div class="fw-bold">85%</div>
            </div>
            <div class="progress">
              <div
                class="progress-bar radious-2px  bg-danger"
                role="progressbar"
                aria-valuenow="85"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: 85%"
              ></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex text-white justify-content-between py-2">
              <div class="fw-bold">CSS</div>
              <div class="fw-bold">80%</div>
            </div>
            <div class="progress">
              <div
                class="progress-bar radious-2px  bg-danger"
                role="progressbar"
                aria-valuenow="80"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: 80%"
              ></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex text-white justify-content-between py-2">
              <div class="fw-bold">Bootstrap</div>
              <div class="fw-bold">75%</div>
            </div>
            <div class="progress">
              <div
                class="progress-bar radious-2px  bg-danger"
                role="progressbar"
                aria-valuenow="75"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: 75%"
              ></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex text-white justify-content-between py-2">
              <div class="fw-bold">Javascript</div>
              <div class="fw-bold">45%</div>
            </div>
            <div class="progress">
              <div
                class="progress-bar radious-2px  bg-danger"
                role="progressbar"
                aria-valuenow="45"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: 45%"
              ></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Project Section -->
      <div class="container p-5" style="background-color: rgb(11, 11, 91)">
        <h1 class="fw-bold text-white text-center my-5 text-decoration-underline ">PORTFOLIO</h1>

        <div class="row m-auto">
          <div class="col-sm-6 col-md-3">
            <a href="./Avatar Design/avater.html" target="_blank">
              <div class="img-wrapper">
                <img src="./images/avatar1.png" alt="" />
              </div>
            </a>
          </div>
          <div class="col-sm-6 col-md-3">
            <a href="./Card1/card1.html" target="_blank">
              <div class="img-wrapper">
                <img src="./images/history1.png" alt="" />
              </div>
            </a>
          </div>
          <div class="col-sm-6 col-md-3">
            <a href="./collective cards/3cards.html" target="_blank">
              <div class="img-wrapper">
                <img src="./images/collection1.png" alt="" />
              </div>
            </a>
          </div>
          <div class="col-sm-6 col-md-3">
            <a href="./Project/project.html" target="_blank">
              <div class="img-wrapper">
                <img src="./images/design2.png" alt="" />
              </div>
            </a>
          </div>
          <div class="col-sm-6 col-md-3">
            <a href="./Furniture/design.html" target="_blank">
              <div class="img-wrapper">
                <img src="./images/furniture2.png" alt="" />
              </div>
            </a>
          </div>
          <div class="col-sm-6 col-md-3">
            <a href="./sushi club/index.html" target="_blank">
              <div class="img-wrapper">
                <img src="./images/sushi1.png" alt="" />
              </div>
            </a>
          </div>
          <div class="col-sm-6 col-md-3">
            <a href="./new design/coursesCard.html" target="_blank">
              <div class="img-wrapper">
                <img src="./images/bound1.png" alt="" />
              </div>
            </a>
          </div>
          <div class="col-sm-6 col-md-3">
            <a href="./transition/index.html" target="_blank">
              <div class="img-wrapper">
                <img src="./images/form.png" alt="" />
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- Contact section -->
      <div class="container p-5" style="background-color: rgb(6, 6, 77)">
        <div
          class="row text-white text-center"
          id="5th"
          style="background-color: rgb(6, 6, 77)"
        >
          <h2
            data-aos="fade-up"
            class="fs-1 py-4 fw-bold text-decoration-underline "
            style="background-color: rgb(6, 6, 77)"
          >
            CONTACT US
          </h2>

          <div class="col-md-6 p-5 text-start fs-5" style="background-color: rgb(6, 6, 77)">

            <div class="col-12 mt-5">
              <a href="" class="text-white text-decoration-none"
                ><img src="./images/mail-fill.png" class="px-5 py-3" alt="" >
                ansarilyas.itroots@gmail.com</a
              >
            </div>
            <div class="col-12">
              <a href="" class="text-white text-decoration-none"
                ><img src="./images/phone-fill.png" class="p-5" alt="" >
                +923287315641</a
              >
            </div>
            <div class="col-12">
              <a href="" class="text-white  text-decoration-none">
                <img
                  src="./images/send-plane-fill (1).png"
                  class="px-5 py-3"
                  alt=""
                />
                 AGDC 21/MPR Lodhran
              </a>
            </div>
          </div>
          <div class="col-md-6" style="background-color: rgb(6, 6, 77)">
            <input
              data-aos="fade-up"
              type="text"
              placeholder="Your name"
              class="form-control rounded mb-3 p-3 border-0 shadow-none"
            />
            <input
              data-aos="fade-up"
              type="tel"
              placeholder="Phone Number"
              class="form-control rounded mb-3 p-3 shadow-none border-0"
            />
            <input
              data-aos="fade-up"
              type="email"
              placeholder="Email"
              class="form-control rounded mb-3 p-3 shadow-none border-0"
            />
            <textarea
              data-aos="fade-up"
              name=""
              placeholder="Messege"
              style="height: 150px"
              class="form-control rounded p-3 shadow-none border-0"
            ></textarea>
            <a href="" class="text-decoration-none px-2">
              <div
                data-aos="fade-up"
                class="btn btn-primary my-3 py-2 px-5 text-white"
              >
                Send
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="border-top border-light"></div>
      </div>
      <div class="container text-white" style="background-color: rgb(6, 6, 77)">
        <div class="row fs-5 py-2 px-3">
        <div class="col-9">Copywrite & Copy 2025| Pladges AGS By: Ansar Ilyas</div>
        <div class="col-3">Instructor: Tanveer Ahmad</div>
        </div>

      </div>
    </div>

    <script src="./bootstrap.js"></script>
  </body>
</html>
