<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Figma Template (Avatar)</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="./css/style.css" />
  <!-- optional custom CSS -->
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    body {
      font-family: "Poppins", sans-serif;
    }

    span {
      background: linear-gradient(to right, red, blue);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  </style>
</head>

<body>
  <!-- Navbar -->
  <section id="navbar" class="px-5 text-white bg-white">
    <div class="container " style="background-color: rgb(82, 78, 78);">
      <div class="nav d-flex flex-wrap justify-content-between align-items-center py-3">
        <div class="navlogo px-3">
          <a href=""><img src="./images/logo.png" alt="Logo" height="50" /></a>
        </div>
        <div class="navoption d-flex  px-5">
          <a href="" class="text-decoration-none text-white">
            <div class="option px-5">Home</div>
          </a>
          <a href="" class="text-decoration-none text-white">
            <div class="option px-3 ">Project</div>
          </a>
          <a href="" class="text-decoration-none text-white">
            <div class="option px-3 ">Experience</div>
          </a>
          <a href="" class="text-decoration-none text-white">
            <div class="option px-3 ">Contact</div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <div class="container text-white bg-black px-5 text-center">
    <!-- Header -->
    <section id="header">
      <div class="row py-5">
        <div class="col-12 text-center ">
          <img src="./images/avatar.png" alt="Avatar" height="150" />
        </div>

      </div>

      <div class="row px-5">
        <div class="col-12">
          <p class="text-white text-center fw-bold fs-1">
            I do code and <br />make contact
            <span class="text-primary">about it!</span>
          </p>
        </div>
    </section>
    <!-- Content -->
    <div>
      <p class=" mx-5 p-5 fs-5">
        I am a seasoned full-stack software engineer with over 8 years of
        professional experience specializing in backend development. My
        expertise lies in crafting robust and scalable SaaS-based architecture
        on the Amazon AWS platform.
      </p>
    </div>
    <!-- Buttons -->
    <div class="d-flex gap-3 mx-auto justify-content-center  flex-wrap px-3  mb-5">
      <a href="#" class="btn btn-primary rounded-5 px-4 py-2">Get in Touch</a>
      <a href="#" class="btn btn-outline-primary rounded-5 px-4 py-2">Download CV</a>
    </div>
    <!-- Icons -->
    <p class="fw-bold text-uppercase text-center fs-2 p-5">Experience With</p>
    <div class="d-flex justify-content-center flex-wrap mb-5">
      <a href=""><img class="me-5" src="./images/javascript.png" alt="" height="50" /></a>
      <a href=""><img class="me-5" src="./images/nodejs.png" alt="" height="50" /></a>
      <a href=""><img class="me-5" src="./images/html.png" alt="" height="50" /></a>
      <a href=""><img class="me-5 " src="./images/css (1).png" alt="" height="50" /></a>
      <a href=""><img src="./images/reactjs.png" alt="" height="50" /></a>
    </div>
    <!-- Projects -->
    <h2 class="text-center fs-1 fw-bold">Projects</h2>
    <div class="row my-4 p-5 ">
      <div class="col-md-6 ">
        <div class="card rounded-3 ">
          <img src="./images/project-thumbnail-1 (1).png" class="card-img-top" alt="Project 1" />
          <div class="row ">
            <div class="col-8 px-5 py-2 text-start">
              <p>
                CLICK HERE TO VISIT <br />
                <strong>HTML TUTORIAL</strong>
              </p>
            </div>
            <div class="col-4 text-end py-2 px-3">
              <img src="./images/arrow-right-up-line.png" alt="" height="40" />
            </div>

          </div>

        </div>
      </div>
      <div class="col-md-6 ">
        <div class="card rounded-3">
          <img src="./images/project-thumbnail-2.png" class="card-img-top" alt="Project 2" />
          <div class="row ">
            <div class="col-8 px-5 py-2 text-start">
              <p>
                CLICK HERE TO VISIT <br />
                <strong>CSS TUTORIAL</strong>
              </p>
            </div>
            <div class="col-4 text-end py-2 px-3">
              <img src="./images/arrow-right-up-line.png" alt="" height="40" />
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Experience -->
    <span class=" mt-5 fs-1 fw-bold">Experience</span>
    <section id="experience" class="p-5">
      <div class="mb-5 px-5">
        <div class="d-flex align-items-center mb-2 fs-4">
          <img src="./images/google-logo.png" alt="" height="25" class="me-3" />
          <strong>Lead Software Engineer at Google</strong>
          <p class=" text-white ms-auto mt-3 fs-6">Nov 2019 - Present</p>
        </div>
        <p class="fs-5">
          As a Senior Engineer at Google, I played a pivotal role in developing innovative
          solutions for Google's core search algorithms. Collaborating with a dynamic team of engineer's , I contributed
          to the enhancement of search accuracy and efficiency, optimizing user experiences for millions of users
          woldwide.
        </p>
      </div>

      <div class="mb-5 px-5">
        <div class="d-flex align-items-center mb-2 fs-4">
          <img src="./images/apple-logo.png" alt="" height="25" class="me-3" />
          <strong>Junior Software Engineer at Apple</strong>
          <p class=" text-white ms-auto mt-3 fs-6">Jan 2016 - Dec 2017</p>
        </div>
        <p class="fs-5">
          During my tenure at Apple, I held the software architect , where I played a key role in shaping
          the architecture of mission-critical software projects. Responsible for designing scalable and
          efficient system, ovided technical leadership to a cross-functional team.
        </p>
      </div>

      <div class="px-5">
        <div class="d-flex align-items-center mb-2 fs-4">
          <img src="./images/meta-logo - Copy.png" alt="" height="20" class="me-3" />
          <strong>Software Engineer at Meta</strong>
          <p class="text-white ms-auto mt-3 fs-6">Jan 2017 - Oct 2019</p>
        </div>
        <p class="fs-5">
          As Meta I served as a Software Engineer, focusing on the design and implementation of backend
          systems for the social media giant's dynamic platform. Working on projects that involve large-scale data
          processing and user engagement features, I leveraged my expertise to ensure seamless functionality and
          scalability.
        </p>
      </div>
    </section>
  </div>

  <!-- Footer -->
  <div class="container text-white text-center" style="background-color: rgb(82, 78, 78);">
    <section id="footer" class="p-5 fs-5 text-center">
      <p class="fs-2 fw-bold">Contact</p>
      <p class="mb-3">
        Seasoned Full Stack Software Engineer with over 8 years of hands- on experience in designing<br>
        and implementing robust, scalable, and innovative web solutions. Adept at leveraging a<br>
        comprehensive skill set encompassing front-end and back-end technologies.
      </p>
      <p><a href=""><img src="./images/Email Icon.png" class="me-3" height="30px" alt="" /></a> abmcodehub@gmail.com</p>
      <div class="d-flex justify-content-center gap-5 mt-3">
        <a href=""><img src="./images/instagram.png" alt="" height="25" /></a>
        <a href=""><img src="./images/x.png" alt="" height="25" /></a>
        <a href=""><img src="./images/youtube.png" alt="" height="25" /></a>
      </div>
    </section>
  </div>


  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>